WE ARE ALWAYS IN PRODUCTION. DO NOT USE SANDBOX, TEST, OR DEV MODES. ENSURE ALL PLACEHOLDERS ARE REPLACED OR REMOVED IF NO LONGER NECCESSARY.

Our redirect url for Square Console has to be HTTPS and we can only use ONE redirect url.

YOU MUST USE https://gki8kva7e3.execute-api.us-west-1.amazonaws.com/production/api/auth/square/callback for the redirect url on square

we DO NOT have any custom urls such as joylabs.com

ONLY use AWS SDK v3. DO NOT use v2.x

DO NOT Commit or push to git or github unless user asks or initiates the request.

your lack of thoroughness is costing me a lot of valuable time. your assumptions that other parts of the codebase is correct is harming our developmental efforts. i need you to check every instance that relies on your changes and implementations before you just tell me you've fixed something. test and double check yourself!

We should be using Square's SDK v42

we should be using node.js v22 @https://auth0.com/docs/troubleshoot/product-lifecycle/deprecations-and-migrations/migrate-nodejs-22 

Serverless framework versions https://github.com/serverless/serverless/releases 

Node.js >=22.0.0 in engines
Serverless v4.10.1
Latest serverless plugins (serverless-webpack v5.15.1, serverless-offline v14.4.0, serverless-dotenv-plugin v6.0.0)
Latest AWS SDK v3 packages
Square SDK v42.0.0